.diretores{"data-magellan-destination" => "diretores"}
  .row
    .large-12.columns
      .row
        .large-4.columns.large-centered
          %h2.subheader.center.times.uppecase.opacity6 OS DIRETORES
          %hr.r1
      .row
        .large-4.columns.small-3
          = image_tag 'josias-pires.gif'
        .large-2.columns.small-9
          %h3.times.uppercase.josias
            Josias Pires
            %small.opacity8.futura.uppercase= link_to "( ver filmografia )", "#"
          %p.opacity7.r2
            %span.destaq2.r-1 Jornalista e cineasta. Diretor da série de documentários da TVE-Bahia "Bahia Singular e Plural",
            realizando atividades de produtor, pesquisador, roteirista e diretor de TV (junho 1998/ fevereiro 2004) dos seguintes documentários televisivos de 30 minutos, que registram festas, folguedos e rituais populares, veiculados para todo o país pela TV Cultura.
        .large-4.columns.small-3.right
          = image_tag 'joel.gif'
        .large-2.columns.small-9
          %h3.times.uppercase.opacity7.r1
            Joel de Almeida
            %small.futura.uppercase.opacity9= link_to "( ver filmografia )", "#"
          %br 
          %p.opacity7
            %span.destaq2 Historiador e cineasta. É um dos principais documentarista baianos na atualidade.
            Já realizou cercade 20 documentários desde a década de 80, quando iniciou sua trajetória profissional nocinema.