.diretores
  .row
    .large-12.columns
      .large-3.columns
        = image_tag 'josias-pires.gif'
      .large-6.columns
        %h2.subheader.center OS DIRETORES
        .row
          .large-6.columns
            %h4 Josias Pires
            %span ( ver filmografia )
            %spam Jornalista e cineasta. Diretor da série de documentários da TVE-Bahia "Bahia Singular e Plural",
            %p realizando atividades de produtor, pesquisador, roteirista e diretor de TV (junho 1998/ fevereiro 2004) dos seguintes documentários televisivos de 30 minutos, que registram festas, folguedos e rituais populares, veiculados para todo o país pela TV Cultura.
          .large-6.columns
            %h4 Joel de Almeida
            %span ( ver filmografia )
            %span Historiador e cineasta. É um dos principais documentarista baianos na atualidade. 
            %p Já realizou cercade 20 documentários desde a década de 80, quando iniciou sua trajetória profissional nocinema.
      .large-3.columns
        = image_tag 'joel.gif'