.diretores{"data-magellan-destination" => "diretores"}
  .row
    .large-12.columns
      .row
        .large-4.columns.large-centered
          %h2.subheader.center.times.uppecase.opacity6 OS DIRETORES
          %hr.r1
      .row
        .large-4.columns.small-3
          = image_tag 'josias-pires.gif'
        .large-2.columns.small-9
          %h3.times.uppercase.josias
            Josias Pires
            %small.opacity8.futura.uppercase= link_to "( ver filmografia )", "#", "data-reveal-id" => "josias"
          %p.opacity7.r2
            %span.destaq2.r-1 Jornalista e cineasta. Diretor da série de documentários da TVE-Bahia "Bahia Singular e Plural",
            realizando atividades de produtor, pesquisador, roteirista e diretor de TV (junho 1998/ fevereiro 2004) dos seguintes documentários televisivos de 30 minutos, que registram festas, folguedos e rituais populares, veiculados para todo o país pela TV Cultura.
        .large-4.columns.small-3.right
          = image_tag 'joel.gif'
        .large-2.columns.small-9
          %h3.times.uppercase.opacity7.r1
            Joel de Almeida
            %small.futura.uppercase.opacity9= link_to "( ver filmografia )", "#", "data-reveal-id" => "joel"
          %br 
          %p.opacity7
            %span.destaq2 Historiador e cineasta. É um dos principais documentarista baianos na atualidade.
            Já realizou cercade 20 documentários desde a década de 80, quando iniciou sua trajetória profissional nocinema.

#josias.reveal-modal.r2
  .row
    .large-12.columns
      .row
        %span
          .destaq2 
            Filmografia de
            .times.uppercase.josias
              Josias Pires
      .row
        %ul.destaq1
          %li - As Burrinhas da Bahia (1999)
          %li - Ternos e Folias de Reis (1999)
          %li - Folias de Negros (1999)
          %li - Mastros Sagrados e Profanos (2000)
          %li - Caretas e Zambiapunga (2000)
          %li - Chegança de Mouros (2000)
          %li - Lutas de Cristãos e Mouros (2000)
          %li - Caboclos da Festa do Divino (2000)
          %li - Cantos de Trabalho (2001)
          %li - Marujada (2001)
          %li - Bumba-meu-boi (2001)
          %li - Índios do Sertão (2002)
          %li - Dança de São Gonçalo (2002)
          %li - Reisado Zé de Vale (2002)
          %li - Festa de São Roque (2003)
          %li - Cosme e Damião – Os Santos Gêmeos (2003)
          %li - Pesquisador e co-roteirista do documentário da TVE-Bahia "Quixabeira – da roça à indústria cultural" (1998).     
  %a.close-reveal-modal ×

#joel.reveal-modal.r-1
  .row
    .large-12.columns
      .row
        %span
          .destaq2 
            Filmografia de
            .times.uppercase.josias
              Joel de Almeida
      .row
        %ul.destaq1
          %li 
            1994/98 – Realização do episódio PENITÊNCIA, integrante do longa metragem OS SETE SACRAMENTOS DE CANUDOS, produzido pela ZDF Canal 2 de Televisão da Alemanha. Prêmio de Melhor Vídeo e Melhor Direção no VII Cine Ceará; Melhor Vídeo do Festival dos Festivais no III Festival de Curitiba; Melhor Direção no III Vídeo Terra de Brasília; Prêmio Quanta de Melhor Produção Baiana na XXV Jornada Internacional da Cinema e Vídeo da Bahia; Menção Honrosa no Mostra do Filme Livre 2005.
          %li 
            1999 – PRETO NO BRANCO, vídeo documentário. O vídeo ganhou Menção Honrosa no Quarto Cine-Vídeo de Curitiba / PR; Melhor vídeo documentário e melhor vídeo nacional no XXIII Guarnicê de Cine-Vídeo do Maranhão.
          %li 
            2001 – RESISTÊNCIA DO SONHO, vídeo com 25 minutos. Ganhador do prêmio de melhor produção baiana na XXVIII Jornada Internacional de Cinema e Vídeo da Bahia.          %li - Mastros Sagrados e Profanos (2000)
          %li 
            2002 – CALUMBIS, PÍFANOS E ZABUMBAS, vídeo documentário com 25 minutos de duração, resultado de edital promovido e patrocinado pela Secretaria de Cultura e Turismo do Estado da Bahia.
          %li 
            2003 – HANSEN BAHIA, curta metragem, 35mm, resultado da terceira seleção de projetos para a produção de curta metragem, patrocinado pela PETROBRAS. Prêmios Quanta e Aruanda, na XXX Jornada Internacional de cinema de Salvador; Menção honrosa e Troféu APCNN (Associação dos Profissionais em Cinema no Norte e Nordeste), no 14º Cine Ceará; Menção Honrosa no Primeiro Festival de Cinema de Belém-Pará.
          %li 
            2003 – PENITENTES DO MÉDIO SÃO FRANCISCO, vídeo documentário, média metragem. Resultado do edital promovido pela Secretaria do Estado da Bahia em 2004.
          %li 
            2007 – XISTO BAHIA – ISTO É BOM, curta metragem, ficção, 35 mm. O projeto é resultado do edital de 2005/06, promovido pela Secretaria de Cultura e Turismo do Estado da Bahia (em fase de produção).
  %a.close-reveal-modal ×