.row
  .large-6.columns.large-centered
    %h3{"data-magellan-destination" => "docdoma"} A Docdoma
    %p A DocDoma Filmes nasceu do espírito empreendedor de um grupo de jovens proﬁssionais, movidos pelo interesse no desenvolvimento do potencial audiovisual do Brasil. É uma produtora premiada de cinema, vídeo e conteúdos para TV.
    %p A DocDoma tem a missão de acreditar no valor técnico e criativo do mercado  audiovisual produzido no Brasil e se propor a desenvolvê-lo de dentro para  fora, desenvolvendo projetos marcados pelos valores da cultura regional,  porém com um apelo universal, tornando-se assim uma referência de  qualidade e competência técnica e artística.
    %p Os seus ﬁlmes, juntos, obtiveram mais de 30 prêmios em festivais nacionais e internacionais. 
    %p Dinâmica, jovem e com estrutura enxuta, a empresa tem como um de seus diferenciais, oferecer produções de qualidade compatível com as grandes produtoras da área, a preços bastante competitivos.
    %p= link_to "Baixar press release", "docdoma_pressrelease.zip"