.docdoma
  .row
    .large-12.columns
      %h2.center{"data-magellan-destination" => "docdoma"} A Docdoma
      .row
        .large-4.columns.clipping
          %h4
            = link_to "Baixar press release", "docdoma_pressrelease.zip"
          %small § tamanho do arquivo §
        .large-4.columns
          %hr
          %p A DocDoma Filmes nasceu do espírito empreendedor de um grupo de jovens proﬁssionais, movidos pelo interesse no desenvolvimento do potencial audiovisual do Brasil. É uma produtora premiada de cinema, vídeo e conteúdos para TV.
          %p A DocDoma tem a missão de acreditar no valor técnico e criativo do mercado  audiovisual produzido no Brasil e se propor a desenvolvê-lo de dentro para  fora, desenvolvendo projetos marcados pelos valores da cultura regional,  porém com um apelo universal, tornando-se assim uma referência de  qualidade e competência técnica e artística.
          %p Os seus ﬁlmes, juntos, obtiveram mais de 30 prêmios em festivais nacionais e internacionais. 
          %p Dinâmica, jovem e com estrutura enxuta, a empresa tem como um de seus diferenciais, oferecer produções de qualidade compatível com as grandes produtoras da área, a preços bastante competitivos.
          %hr
          .row
            .large-8.columns.large-offset-2
              %address
                Rua Haeckel José de Almeida 177, Sala 26
                %br
                Jaguaribe, 41613-100
                %br 
                Salvador BA, Brasil
        .large-4.columns
          %h4 Contato
          %ul
            %li 
              Adler Paz
              %ul
                %li kibe@docdoma.com.br
            %li 
              Bau Carvalho
              %ul
                %li bau@docdoma.com.br
            %li
              Lula Oliveira
              %ul
                %li lula@docdoma.com.br
        .large-4.columns.right
          %span{itemprop: "telephone"}
            = link_to "+55 (71) 3354.6123", "tel:+557133546123"
          www.docdoma.com.br