#equipe.equipe{"data-magellan-destination" => "equipe"}
  .row
    .large-12.columns
      %h2.futura.uppercase.center Equipe
    .large-5.columns.large-offset-1.funcao
      Roteiro e Direção
      %br
      %br
      %br
      %br
      %br
      %br
      Produção
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Produção Executiva
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Direção de Fotografia
      %br
      %br
      %br
      %br
      Direção de Arte
      %br
      %br
      %br
      %br
      Direção Musical
      %br
      %br
      %br
      %br
      Direção de Produção
      %br
      %br
      %br
      %br
      %br
      %br
      Som Direto
      %br
      %br
      %br
      %br
      %br
      %br
      Montagem
      %br
      %br
      %br
      %br
      Voz de Cuíca de Santo Amaro
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Administração
      %br
      %br
      Contabilidade
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Pesquisa de Jornais e Audiovisuais
      %br
      %br
      %br
      %br
      Colaboração na Pesquisa
      %br
      %br
      Produção de Imagens de Arquivo
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Câmeras Adicionais
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Stead Cam
      %br
      %br
      Som Direto Adicional
      %br
      %br
      Assistência de Direção
      %br
      %br
      %br
      %br
      Assistência  de Produção Executiva
      %br
      %br
      %br
      %br
      Assistência de Produção
      %br
      %br
      %br
      %br
      Assistência de Câmera
      %br
      %br
      %br
      %br
      Assistência de Som Direto
      %br
      %br
      %br
      %br
      Assistência de Montagem
      %br
      %br
      %br
      %br
      %br
      %br
      Still
      %br
      %br
      %br
      %br
      Estagiários
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Música Original e Concepção Musical
      %br
      %br
      Produção Musical
      %br
      %br
      Realização
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Gravação, programação e efeitos
      %br
      %br
      %br
      %br
      %br
      %br
      Flauta, flautim, apitos , piston cretino,
      %br
      %br
      misturas de músicas pré-gravadas
      %br
      %br
      efeitos, voz e assovio
      %br
      %br
      Violões
      %br
      %br
      %br
      %br
      %br
      %br
      Fagote
      %br
      %br
      Trompete e Corneta
      %br
      %br
      Pandeiro, berimbau, "onças" e percussão
      %br
      %br
      Cuícas e chocalho
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Animações
      %br
      %br
      Consultor Direção de Arte
      %br
      %br
      Animações de Fotos e Folhetos
      %br
      %br
      Colaboradores nas Ilustrações
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Edição de Som
      %br
      %br
      Mixagem
      %br
      %br
      %br
      %br
      Print Master
      %br
      %br
      Técnico Print Master
      %br
      %br
      Consultor Dolby
      %br
      %br
      %br
      %br
      Finalização
      %br
      %br
      Diretor Geral
      %br
      %br
      Gerente Comercial
      %br
      %br
      Atendimento
      %br
      %br
      %br
      %br
      %br
      %br
      Gerente de Laboratório
      %br
      %br
      Gerente de Color Grading
      %br
      %br
      Gerente de Pós Produção
      %br
      %br
      Coordenação de Finalização
      %br
      %br
      Pauta
      %br
      %br
      %br
      %br
      Colorista
      %br
      %br
      Assistentes de Color Grading
      %br
      %br
      %br
      %br
      Engenharia
      %br
      %br
      Central Técnica
      %br
      %br
      %br
      %br
      Final Cut
      %br
      %br
      Smoke
      %br
      %br
      %br
      %br
      Transfer Tape to Film
      %br
      %br
      Marcador de Luz
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Assessoria Direitos Autorais
      %br
    .large-4.columns.nomes
      Joel De Almeida
      %br
      %br
      Josias Pires
      %br
      %br
      %br
      %br
      Adler Paz
      %br
      %br
      Alexandre Basso
      %br
      %br
      Bau Carvalho
      %br
      %br
      João Rodrigo Mattos
      %br
      %br
      Lula Oliveira
      %br
      %br
      Marcos Povoas
      %br
      %br
      %br
      %br
      %br
      %br
      Adler Paz
      %br
      %br
      Bau Carvalho
      %br
      %br
      Lula Oliveira
      %br
      %br
      %br
      %br
      Paulo Hermida
      %br
      %br
      %br
      %br
      Ian Sampaio
      %br
      %br
      %br
      %br
      Tuzé De Abreu
      %br
      %br
      %br
      %br
      Luciana Freitas
      %br
      %br
      Marise Berta
      %br
      %br
      %br
      %br
      Rodrigo Alzueta
      %br
      %br
      Napoleão Cunha
      %br
      %br
      %br
      %br
      Bau Carvalho
      %br
      %br
      %br
      %br
      Gil Teixeira
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Marcia Cardim
      %br
      %br
      Harnoel Lier
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Suzana Alice
      %br
      %br
      Claude Santos
      %br
      %br
      Fernanda Capibaribe
      %br
      %br
      João Rodrigo Mattos
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Alexandre Basso 
      %br
      %br
      Cleber Zabielli
      %br
      %br
      Hamilton Oliveira
      %br
      %br
      Mateus Damasceno
      %br
      %br
      Pedro Semanovischi
      %br
      %br
      Paulo Hermida
      %br
      %br
      Fabio Marc
      %br
      %br
      Claude Santos
      %br
      %br
      Mateus Damasceno
      %br
      %br
      Daniela Dantas
      %br
      %br
      Eliana Mendes
      %br
      %br
      Dedeco Macedo
      %br
      %br
      Patrícia Bessa
      %br
      %br
      Jero Soofer
      %br
      %br
      Petrus Pires
      %br
      %br
      Tiago Mendes
      %br
      %br
      Weider Régis
      %br
      %br
      Ilo Alves
      %br
      %br
      Matheus Viana
      %br
      %br
      Tiago Baiano
      %br
      %br
      Davi Caires
      %br
      %br
      Lúcio Mendes
      %br
      %br
      Bruno Brito
      %br
      %br
      Rafael Tana
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Tuzé De Abreu
      %br
      %br
      Marcelo Seco
      %br
      %br
      Tuzé De Abreu
      %br
      %br
      Gil Camara
      %br
      %br
      Márcio Mello
      %br
      %br
      Marcelo Seco
      %br
      %br
      Márcio Mello
      %br
      %br
      Marcelo Seco
      %br
      %br
      Gil Camara
      %br
      %br
      %br
      %br
      Tuzé De Abreu
      %br
      %br
      Gil Camara
      %br
      %br
      Juninho Costa
      %br
      %br
      Gereba
      %br
      %br
      Cláudia Salles
      %br
      %br
      Joatan Nascimento
      %br
      %br
      Mamá
      %br
      %br
      %br
      %br
      Giba Conceição
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Ian Sampaio
      %br
      %br
      Enéas Guerra
      %br
      %br
      Bau Carvalho
      %br
      %br
      André Leal
      %br
      %br
      Athos Sampaio
      %br
      %br
      Bruno Souza
      %br
      %br
      Carlo Medici
      %br
      %br
      Carol Gonçalo
      %br
      %br
      Chiquinho Beraldo
      %br
      %br
      Daniel Bruson
      %br
      %br
      Daniel Makino
      %br
      %br
      Danilo Enoki
      %br
      %br
      Enéas Guerra
      %br
      %br
      Estudio Ilustract
      %br
      %br
      Fabio Biofa
      %br
      %br
      Felipe Jornada
      %br
      %br
      Flavio De Paula
      %br
      %br
      Ian Sampaio
      %br
      %br
      Kin Guerra
      %br
      %br
      Leandro Franci
      %br
      %br
      Marcita Leite
      %br
      %br
      Nemo Sampaio
      %br
      %br
      Rafael Aflalo
      %br
      %br
      Rafael Araújo
      %br
      %br
      Roberto Sakaki
      %br
      %br
      Thiago Pinho
      %br
      %br
      Thomate
      %br
      %br
      Vitor Cervi
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Marcos Povoas
      %br
      %br
      Damião Lopes 
      %br
      %br
      %br
      %br
      Ctav
      %br
      %br
      Damião Lopes 
      %br
      %br
      Carlos B. Klachquin, Abc
      %br
      %br
      %br
      %br
      Cinecolor Digital
      %br
      %br
      David Trejo
      %br
      %br
      Cacá De Carvalho
      %br
      %br
      Andrea Nero
      %br
      %br
      Carol Abreu
      %br
      %br
      Renata Santos
      %br
      %br
      Jony Sugo
      %br
      %br
      Fernando Lui Latorre
      %br
      %br
      Zeca Daniel
      %br
      %br
      Camila Dipold
      %br
      %br
      Nilma Gomes
      %br
      %br
      Danielle Cavalier
      %br
      %br
      Adonias Dantas
      %br
      %br
      David Silva
      %br
      %br
      João Moreira
      %br
      %br
      Thiago Cabral
      %br
      %br
      Rogério Santos
      %br
      %br
      Thiago Leoni
      %br
      %br
      Clayton Vianna
      %br
      %br
      Marcelo Jamiuk Cois
      %br
      %br
      Mário Cassiano
      %br
      %br
      Uillian Mendes
      %br
      %br
      Jorge Yokoyama
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      Rita 
      %br
      %br
      %br
    .large-2.columns
