.panel.festivais
  .row
    .large-2.columns.large-offset-1
      %p
        %b.top10 V Festival do Cinema Latinoamerincano e Caribenho de Margarita 
        %span (Venezuela)
    .large-2.columns.center
      %b.asterix * * *
    .large-2.columns
      %p
        %b.top10 Vestival Internacional de Cinema de Arquivo
        %span (Rio de Janeiro)
    .large-2.columns.center
      %b.asterix * * *
    .large-2.columns
      %p
        %b.top15 17º Festival Internacional de Documentários É Tudo Verdade
        %span (São Paulo)
    .large-2.columns.large-offset-3
      %p
        %b.top20 16ª Mostra de Cinema de Tiradentes 
        %span (Minas Gerais)
    .large-2.columns.center
      %b.asterix * * *
    .large-2.columns
      %p
        %b.top20 III Festival Cachoeira Doc
        %span (Bahia)
    .large-3.columns