.panel.festivais
  .row
    .large-2.columns.large-offset-1
      %p 
        V Festival do Cinema Latinoamerincano e Caribenho de Margarita 
        %span (Venezuela)
    .large-2.columns.large-offset-2
      %p 
        Vestival Internacional de Cinema de Arquivo
        %span (Rio de Janeiro)
    .large-2.columns.large-offset-2
      %p 
        17º Festival Internacional de Documentários É Tudo Verdade
        %span (São Paulo)
    .large-2.columns.large-offset-3
      %p 
        %br 
        16ª Mostra de Cinema de Tiradentes 
        %span (Minas Gerais)
    .large-2.columns.large-offset-2
      %p
        %br 
        III Festival Cachoeira Doc
        %span (Bahia)
    .large-3.columns