.festivais.hide-for-small
  .row
    .large-2.columns.large-offset-1.small-6.opacity7
      %p
        %b.top10 V Festival do Cinema Latinoamerincano e Caribenho de Margarita 
        %span (Venezuela)

    .large-2.columns.center.show-for-medium-up.opacity9
      %b.asterix * * *

    .large-2.columns.small-6.opacity6
      %p
        %b.top10 Vestival Internacional de Cinema de Arquivo
        %span (Rio de Janeiro)

    .large-2.columns.center.show-for-medium-up
      %b.asterix * * *

    .large-2.columns.small-6
      %p
        %b.top15 17º Festival Internacional de Documentários É Tudo Verdade
        %span (São Paulo)


    .large-2.columns.large-offset-3.small-6.opacity8
      %p
        %b.top20 16ª Mostra de Cinema de Tiradentes 
        %span (Minas Gerais)

    .large-2.columns.center.show-for-medium-up.opacity5
      %b.asterix * * *

    .large-2.columns.small-6.opacity8
      %p
        %b.top20 III Festival Cachoeira Doc
        %span (Bahia)
    .large-3.columns