.historia
  .row
    .large-12.columns
      .retrato.large-4.columns.left
        / = image_tag "cuica-foto.jpg"
      .large-8.columns
        %h2{"data-magellan-destination" => "historia"} A História do Filme
        .row
          .large-6.columns
            %h5 Cuíca de Santo Amaro produz livros de histórias para noticiar fatos de modo escandaloso, reflexivo e divertido. Os temas são aqueles da condição humana: 
            %h5.typewrite mortes, sexo, política, carestia da vida.
            %p.r1 
              Cuíca de Santo Amaro produz livros de histórias para noticiar fatos de modo escandaloso, reflexivo e divertido. Os temas são aqueles da condição humana: mortes, sexo, política, carestia da vida. Obtém informações perigosas – crimes, escândalos sexuais e políticos – anuncia a notícia, adiantando alguns detalhes, e espera para ver a reação dos interessados. Se for procurado em tempo hábil, vende toda a edição para uma só pessoa. Caso contrário, sai pelas ruas mercando os versos. A vendagem é certa.
            %p.r1
              No filme, a câmera desloca-se por ruas e praças, ladeiras e becos, os mesmos lugares por onde Cuíca costumava circular na velha Bahia, entre 1925 e 1964.
          .large-6.columns
            %p Fragmentos da trajetória de vida do poeta são contados por seus familiares, por pessoas do povo e por intelectuais que o conheceram e viram suas performances em Salvador e no Recôncavo Baiano. São utilizadas imagens de arquivo sob locução de trechos dos versos de Cuíca, que tratam de questões nacionais e internacionais.
            %p Cuíca de Santo Amaro deixa um legado picante e irônico da vida baiana, versos como vísceras de uma cidade emprenhada de preconceitos e hipocrisia. Sua obra abrangente e variada é como um jornal do povo, o melhor da tradição jornalística da literatura popular.
