.personagem{"data-magellan-destination" => "personagem"}
  .row
    .large-12.columns
      .center
        %h2
          %span.futura.r1 A Personagem 
          do Filme
        %hr
      .row
        .large-3.columns.r1
          %h4 O poeta mais temido da Bahia
          %p.destaq1.opacity5 Trovador maldito da poesia popular do Brasil, personagem controvertida, produz entre 1930 e 1963 cerca de mil títulos de livrosde histórias, nome que dá aos folhetos que só depois passaram a ser conhecidos na Bahia como literatura de cordel. 

          %p.opacity5.r-1 Inspira Jorge Amado e Dias Gomes, que fazem de Cuíca personagem de quatro romances e da peça de teatro que, reapresentada pelo cinema, leva Anselmo Duarte a ganhar a Palma de Ouro em Cannes, com o filme "O Pagador de Promessa (1962). Na  mesma época Cuíca de Santo Amaro faz a abertura do filme "A Grande Feira" (1961), de Roberto Pires. 

          %p.opacity5.r-1  É o defensor do povo contra os marreteiros e também o diabo das encruzilhadas, dos mercados e das feiras livres, das festas e das frestas, personagem dos avessos e das margens, dos temas proibidos, picarescos, obscenos, malditos. Neste figurino ele aparece em Pastores da Noite e A morte e a morte de Quincas Berro

        .large-3.columns 

          %p.opacity5 D’Água e na peça O Pagador de Promessas, de Dias Gomes, adaptada para o cinema por Anselmo Duarte.

          %p.opacity5 Faz propaganda comercial em portas de lojas. É histrião e usa métodos não convencionais para a coleta de notícias que usa na confecção de versos.

        .large-3.columns
          %p Encarna personagem desabusada, que escreve, publica e vende nas ruas folhetos de protestos em plena II Guerra, reportando com humor a carestia da vida, demonizando Hitler, Mussolini e Plínio Salgado, elogiando Getúlio Vargas e Luís Carlos Prestes – apesar de posteriormente publicar

        .large-3.columns.right.opacity7
          %p.r-1 folheto em favor da candidatura do camisa-verde e demonizar Prestes. Muitas performances fez ao lado de cartazes expostos nas ruas com frases e desenhos sobre os temas dos folhetos, ilustrados pelo amigo Sinézio Alves.

          %p Em 1945 Jorge Amado o anuncia como "O Trovador da Bahia". Em 46, a fama de Cuíca estende-se para todo o país, através da publicação de fotografias de Pierre Verger e de textos de Odorico Tavares e Jorge Amado na revista O Cruzeiro.

          %p.r-1 Durante duas décadas Cuíca de Santo Amaro atenta contra o pudor e brada contra a hipocrisia, revela em praça pública segredos de alcova e trapaças de ricos marreteiros. “Comigo não tem bronca”, garante. É a versão popular do boca de brasa, o Gregório de Mattos sem gramática. Poeta mais temido da Bahia é o defensor do povo, a voz do escândalo; porém sua poesia e atuação, às vezes, sabe também louvar poderosos, sobretudo quando se trata daquilo que chama de “matéria paga”. É um herói e um anti-herói. O arauto. Anunciador. Anjo torto, da boca torta, poeta livre. O maior comunicador que a Bahia já teve.

        .large-6.columns
          = image_tag "pers-livreto.gif"