.row
  .large-10.columns.large-offset-1
    .row
      .large-2.columns.center
        %h2 I
        %p
          Era imenso o galinheiro
          Estava mesmo lotado
          Tudo de camisa verde
          Era um quadro gozado 
          Porém só tinha um galo 
          Era o Plínio Salgado.

          Porém o galinheiro
          Muito tempo não durou 
          Quando foi um belo dia
          Getúlio Vargas cismou 
          Agarrou logo o galinheiro
          E o rabo logo cortou.
      .large-2.columns.center
        %h2 II
        %p 
          Nunca disse a ninguém
          Que eu era Getulista
          Nem também afirmei 
          Que eu era Queremista
          Todos sabem muito bem 
          Que eu sou propagandista.
      .large-2.columns.center
        %h2 III
        %p 
          Nessa história interessante 
          Você pode acreditar 
          Conheci uma fulana 
          Pois muito deu o que falar 
          Pois a mesma só levava
          A vida a jogar bilhar.

          Ela pegou no taco 
          Ele pegou na bola 
          Ela se espichou 
          Como se fosse mola 
          Com o taco na mão 
          Dizia, lá vai viola.
      .large-2.columns.center
        %h2 IV
        %p 
          Como não sou criança
          Para ninguém me enganar
          O livro anunciado
          Que mandaram me agüentar
          Por falta de palavra
          Resolvi a publicar.
          Esta minha atitude
          Eu conto aos amigos meus
          Um parente do monstro
          Na certa se doeu
          E uma certa noite
          Lá em casa apareceu.

          Sim, caro leitor
          Chegou ele apavorado
          E me disse, Seu Cuíca
          Poupe o degenerado
          Eu disse... cinco mil
          Para não ser divulgado.
      .large-2.columns.center
        %h2 IV
        %p 
          Como não sou criança
          Para ninguém me enganar
          O livro anunciado
          Que mandaram me agüentar
          Por falta de palavra
          Resolvi a publicar.
          Esta minha atitude
          Eu conto aos amigos meus
          Um parente do monstro
          Na certa se doeu
          E uma certa noite
          Lá em casa apareceu.

          Sim, caro leitor
          Chegou ele apavorado
          E me disse, Seu Cuíca
          Poupe o degenerado
          Eu disse... cinco mil
          Para não ser divulgado.
      .large-2.columns.center
        %h2 V
        %p 
          O Cuíca de Santo Amaro
          Que de fato é o tal 
          Abre o grande filme
          Ao povo da capital 
          Pois o mesmo é, leitores
          Convidado especial.

          De fraque e cartola
          Parecendo um doutor
          Cuíca de Santo Amaro 
          Renomado trovador 
          Faz sorrir a valer
          Qualquer espectador.