#producao.producao{"data-magellan-destination" => "producao"}
  .row
    .large-4.columns
      %h2.futura.uppercase.center
        %span.prod1 Atenção!
        %br
        %span.prod2 A produção do filme
      .row
        .large-12.columns.opacity8
          %p.times As filmagens de Cuíca de Santo Amaro foram realizadas entre abril de 2008 e janeiro de 2011 na cidade de Salvador e na região do Recôncavo da Bahia. A finalização estendeu-se durante todo o ano de 2011, envolvendo uma equipe técnica formada por reconhecidos profissionais do cinema brasileiro.
          %br
          %p.destaq2 Foram pesquisados os acervos da Fundação Pierre Verger, Biblioteca Mário de Andrade, Fundação Casa de Jorge Amado, Instituto Lina Bo Bardi, Academia de Letras da Bahia, Biblioteca Central dos Barris, Irdeb, entre outros.

    .large-8.columns.r-1.opacity9
      = image_tag "prod-01.jpg"
      .row
        .small-12.columns.center 
          %small.r1 Pelorinho, 2009.
