.row
  .large-4.columns
    %h4.subheader A produção do filme
  .large-8.columns
    %p As filmagens de Cuíca de Santo Amaro foram realizadas entre abril de 2008 e janeiro de 2011, em sua maior parte, na região central de Salvador. Sua finalização se estendeu durante todo o ano de 2011, envolvendo uma equipe técnica formada por reconhecidos profissionais do cinema brasileiro. 
    %br
    %p Foram pesquisados os acervos da Fundação Pierre Verger, Biblioteca Mário de Andrade, Fundação Casa de Jorge Amado, Instituto Lina Bo Bardi, Irdeb, entre outros.
