.row
  .small-6.push-3.columns
    %h2.typewriter.center= @poem.title
    %p
      = raw(@poem.content)
    %span.destaq1
      = link_to "Editar", edit_poem_path(@poem)
      \|
      = link_to "Voltar", poems_path
