- if current_admin
  %nav.top-bar.admin{"data-options" => "is_hover:false"}
    %ul.title-area
      %li.divider
      %li.name
        %h1= link_to "Cuica", root_path 
    %section.top-bar-section
      %ul.left
        %li.divider
        %li=link_to "Notícias", posts_path
        %li=link_to "Exibições", cinemas_path
        %li=link_to "Poesias", poems_path
      %ul.right
        %li= link_to "#{current_admin.name} | Sair", logout_path