- if current_admin
  %nav.top-bar.admin{"data-options" => "is_hover:false"}
    %ul.title-area
      %li.divider
      %li.name
        %h1= link_to "Área do Administrador", root_path
    %section.top-bar-section
      %ul.left
        %li.divider
        %li.has-dropdown
          =link_to "Notícia", new_post_path
          %ul.dropdown
            %li=link_to "Adicionar Notícia", new_post_path
            %li=link_to "Editar Notícias", posts_path
        %li.has-dropdown
          =link_to "Exibições", new_cinema_path
          %ul.dropdown
            %li=link_to "Adicionar Exibição", new_cinema_path
            %li=link_to "Editar Exibições", cinemas_path
        %li.has-dropdown
          =link_to "Poesias", new_poem_path
          %ul.dropdown
            %li=link_to "Adicionar Poesia", new_poem_path
            %li=link_to "Editar Poesias", poems_path
        %li.divider
        %li= link_to "#{current_admin.name} | Sair", logout_path