.row
  .small-6.push-3.columns.panel.top20.r-1
    %h2.typewriter
      = @post.title
    %p.destaq2
      = raw(@post.content)
    %span.destaq1
      = link_to 'Editar', edit_post_path(@post)
      \|
      = link_to 'Voltar', posts_path