/* Diretores */

.diretores {
  padding: 3% 0% 3% 0%;
  background-color: #bb3c3e;
  h2, h3, h4 {
    color: #411912
  }
  h2 {
    font-size: 2.2em;
    font-weight: bold;
  }
  h3 {
    margin: 42px 0 7px;
    line-height: 1em;
    small {
      font-size: 13px;
      display: block;
      margin: 11px 0 20px;
    }
  }
  .josias {
    font-size: 1.2em;
  }
  p::selection {
    background: red; /* Safari */
  }
  p::-moz-selection {
    background: red; /* Firefox */
  }
  .destaq2 {
    font-size: 1.3em;
    font-weight: bold;
  }
  img {
    margin-top: 25px;
    padding: 10px;
    width: 130%
  }
  hr {
    border: 0;
    background-color: rgb(90, 30, 19);
    height: 4px;
    margin-bottom: 0;
  }
}

#josias {
  background-color: #9fd5d7;
  ul, li {
    list-style: none;
  }
}

#joel {
  background-color: #9fd5d7;
  ul, li {
    list-style: none;
  }
}