/* Festivais */

.festivais {
  font-family: "Special Elite", "Courier New", Courier;
  background-color: #ee768f !important;
  border: none !important;
  padding: 30px 0 !important;
  margin: 0;  
  b::selection , span::selection {
    background: #ff1310; /* Safari */
  }
  b::-moz-selection, span::-moz-selection {
    background: #ff1310; /* Firefox */
  }
  p {
    background: url("festival-leaves.png") no-repeat 0 4px;
    color: #291d13 !important;
    text-align: center;
    font-size: .9em;
    padding: 0 30px;
    margin: 8px 0 8px -30px; 
    width: 200px;
    min-height: 100px;
    display:inline-block; 
    vertical-align: middle;
  }
  b {
    display: inline-block;
  }
  span { 
  font-family: Verdana;
  font-size: 7px;
  display: block;
  }
  .asterix {
    margin-top: 62px;
    font-size: 10px;
  }
}