/* Notícias */

.noticias {
  background: url("fundo-folhetos.jpg") no-repeat;
  background-size: 100%;
  padding: 18%;
  max-height: 700px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .panel {
    background-color: #268baa;
  }
  hr {
    border-color: black;
    height: 3px;
    background-color: black;
  }
}

#exibir {
  background-color: #7eb361;
  .close-reveal-modal {
    color: white;
  }
}