/* Personagem */

.personagem {
  background-color: #339966;
  padding: 30px 0;
  .large-3.columns {
    padding: 0 5px;
  }
  h2, p, h4 {
    color: #112119;
  }
  h2 {
    line-height: 1em;
    font-size: 3.4em;
    font-weight: 500;
    margin: 0 0 -19px;
    span {
      text-transform: uppercase;
    }
  }
  h4 {
    font-size: 0.8em;
    line-height: 0em;
  }
  p {
    line-height: 1.3em;
  }
  p::selection, h2::selection, img::selection, span::selection, h4::selection {
    background: #dfc429; /* Safari */
  }
  p::-moz-selection, h2::-moz-selection, img::-moz-selection, span::-moz-selection, h4::-moz-selection {
    background: #dfc429; /* Firefox */
  }
  hr {
    background: url("hr-bg2.gif") 50% 0 no-repeat;
    border: none;
    height: 11px;
  }
}