.header
  .row
    .large-10.columns.large-offset-1
      .row
        .small-10.columns.logo
          = image_tag('cuica_logo.png')
          .row
            .large-4.columns.small-7.desc
              = image_tag('cuica_desc.png')
            .large-6.columns.large-offset-2 Documentário em 35mm, 75 minutos * Brasil, 2012
        .small-1.columns.fb-like{"data-href" => "https://www.facebook.com/cuicadesantoamaro", "data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
        .small-1.columns
          .docdoma= image_tag('docdoma.png')